.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-bottom: 3rem;
    .profile__username {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    a:not(:last-child) {
      margin-bottom: 1.3rem;
    }
  }
  .uploaded-videos {
    margin-top: 50px;
  }
}
